{% extends 'base.html.twig' %}
{% block title %}Congélateurs:Parcourir {% endblock %}
{% block body %}
    <div class="container">
        <h1> Liste des congélateurs</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div id="congelSlide" class="carousel carousel-dark slide" data-interval="false"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for congelateur in congelateurs %}
                                <li data-taraget="#congelSlide" data-slide-to="{{ loop.index-1 }}"
                                    class="{{ loop.first ? 'active':'' }}"></li>
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner">
                            {% for congelateur in congelateurs %}
                                <div class="carousel-item  {{ loop.first ? 'active':'' }}">
                                    <div class="card">

                                        <div class="card-header">
                                            <h3 class="card-title text-center">
                                                {{ congelateur.nom }}
                                            </h3>
                                        </div>
                                        <div class="card-body ">
                                            <div class="list-group">
                                                {% for tiroir in congelateur.tiroirs %}
                                                    <a href="#"
                                                       class="list-group-item list-group-item-action">{{ tiroir.nom }}</a>
                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 mt-3">
                        <a class="carousel-control-prev" href="#congelSlide" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control carousel-control-next" href="#congelSlide" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}