{% extends 'base.html.twig' %}
{% block title %}Liste des produits{% endblock %}
{% block body %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                <h1>Produits</h1>
            </div>
            <div class="col-lg-offset-10 col-lg-2 w-25 ">

                <a href="{{ path('addproduit') }}" class="btn btn-primary border-info w-75">Nouveau
                    produit</a>
            </div>
        </div>

        <div class="container mt-4">
            {% if produits|length==0 %}
                {{ "Pas de produit enregistré" }}
            {% else %}
                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.nomproduit}}</td>
                            <td><a class="btn btn-secondary"
                                   href="{{ path('editproduit',{id:produit.id}) }}">Editer</a>

                                <form method="post" action="{{ path('deleteproduit', {id: produit.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
produit
    </div>
{% endblock %}
