{% extends 'baseform.html.twig' %}
{% form_theme produit_add  'bootstrap_4_layout.html.twig' %}


{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <h1>Ajouter un produit</h1>
        {# {{ form(produit_add) }} #}
        {{ form_start(produit_add,{attr: {novalidate: 'novalidate'}}) }}
        <div class="row">
            {{ form_errors(produit_add) }}
        </div>


        <div class="row">
            <div class="col-lg-2 mt-5" >

            </div>
            <div class="col-lg-offset-2 col-lg-2 mt-5 text-right">
                {{ form_label(produit_add.Nomproduit) }}
            </div>
            <div class="col-lg-offset-2 col-lg-6 mt-5" >
                {{ form_widget(produit_add.Nomproduit) }}
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2 mt-5" >

            </div>
            <div class="col-lg-offset-2 col-lg-2 mt-5 text-right">
                {{ form_label(produit_add.category)}}
            </div>
            <div class="col-lg-offset-2 col-lg-6 mt-5" >
                {{ form_widget(produit_add.category) }}
            </div>

        </div>

        <div class="row" >
            <div class="col-lg-5">

            </div>
            <div class="col-lg-1 mt-5">
                <button type="submit" class="btn btn-primary ">Ajouter</button>
            </div>
            <div class=" col-lg-1 mt-5" >
                <a class="btn btn-primary" href={{ path("produit") }}>Abandonner</a>

            </div>
        </div>
        {{ form_end(produit_add) }}
    </div>
{% endblock %}